[Unit]
Description=awww wallpaper daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/awww-daemon --namespace "wallpaper"
Restart=on-failure
