[Unit]
Description=llama.cpp WebUI

[Service]
Type=simple
ExecStart=/usr/bin/llama-server --models-preset %h/.config/llama.cpp/models.ini --host 127.0.0.1 --port 8080
Restart=no
