[Unit]
Description=Noctalia Shell Service
PartOf=graphical-session.target
Requisite=graphical-session.target
After=graphical-session.target

[Service]
ExecStart=qs --log-rules "quickshell.dbus.properties.warning=false" -c noctalia-shell
Restart=on-failure
RestartSec=1
