@import "styles/weather.css";

/* Defaults */
* {
    font-family: "{{ .font }}";
    font-size: 11px;
    font-weight: 900;
    border: none;
    border-radius: 6px;
    min-height: 0;
    margin: 0;
    padding: 1px 0;
    transition-property: background-color;
    transition-duration: 0.5s;
    color: @theme_text_color;
    background-image: none;
}

/* widget content padding */
widget > label, widget > box {
    padding: 1px 5px;
}

/* Main bar */
#waybar {
    border-radius: 0;
    background-color: transparent;
}
#waybar > box {
    margin: 3px 3px;
}

#waybar.hidden {
    opacity: 0.2;
}

/* Elements */
.module {
  margin-left: 2px;
  margin-right: 2px;
}
.modules-left   > widget:first-child > .module,
.modules-center > widget:first-child > .module,
.modules-right  > widget:first-child > .module {
    margin-left: 0;
}
.modules-left   > widget:last-child > .module,
.modules-center > widget:last-child > .module,
.modules-right  > widget:last-child > .module {
    margin-right: 0;
}

.module {
    background-color: @theme_bg_color;
}

.hover-color:hover {
    background-color: mix(@theme_bg_color, @theme_selected_bg_color, 0.5);
}

/* Workspaces */
#workspaces {
    background-color: @theme_base_color;
    padding-left: 0;
    padding-right: 0;
}

#workspaces button {
    margin: 1px 2px;
    background-color: @theme_bg_color;
    color: @theme_text_color;
}

#workspaces button:hover {
    background-color: mix(@theme_bg_color, @theme_selected_bg_color, 0.5);
}

#workspaces button.active {
    background-color: @theme_selected_bg_color;
}

#workspaces button.active:hover {
    background-color: shade(@theme_selected_bg_color, 0.7);
}

#workspaces button.urgent {
    background-color: @error_color;
}

#media {
    background-color: @theme_base_color;
}
#media > widget > label {
  margin: 0 2px;
}
#media > *:first-child > label {
    margin-left: 0;
}
#media > *:last-child > label {
    margin-right: 0;
}

#cpu {
    color: #fb958b;
}

#memory {
    color: #ebcb8b;
}

#pulseaudio {
    color: #7d9bba;
}

#backlight {
    color: #8fbcbb;
}

#clock {
    color: #c8d2e0;
}

#battery {
    color: #c0caf5;
}

#battery.charging,
#battery.full,
#battery.plugged {
    color: #26a65b;
}

@keyframes blink {
    to {
        background-color: rgba(30, 34, 42, 0.5);
        color: #abb2bf;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#disk {
    background-color: #964b00;
}

#bluetooth {
    color: #707d9d;
}

#bluetooth.disconnected {
    color: #f53c3c;
}

#network {
    color: #b48ead;
}

#network.disconnected {
    color: #f53c3c;
}

#temperature {
    background-color: #f0932b;
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#language {
    background: #00b093;
    color: #740864;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 0px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}
