[data]
terminal = "alacritty"
terminalArgs = "-e"
font = "JetBrainsMonoNL Nerd Font"

# "qs -c noctalia-shell ipc call launcher toggle" | "anyrun"
launcher = "anyrun"

# "qs -c noctalia-shell ipc call lockScreen lock" | "swaylock"
lockScreen = "swaylock"

screenshotArea = "niri msg action screenshot"
screenshotFull = "niri msg action screenshot-screen"
timezoneCity = "Hamburg"

# "hyprland" | "niri"
compositor = "niri"

# "noctalia" | "waybar"
bar = "waybar"

# "noctalia" | ""
colorgen = ""

# "noctalia" | "awww"
wallpaper = "awww"
