[data]
terminal = "alacritty"
terminalArgs = "-e"
font = "JetBrainsMonoNL Nerd Font"
launcher = "anyrun"
lockScreen = "qs -c noctalia-shell ipc call lockScreen lock"
screenshotArea = "niri msg action screenshot"
screenshotFull = "niri msg action screenshot-screen"

# "hyprland" | "niri"
compositor = "niri"
# "noctalia" | "waybar"
bar = "waybar"
# "noctalia" | ""
colorgen = ""
# "noctalia" | "swww"
wallpaper = "swww"
