// https://yalter.github.io/niri/Configuration:-Key-Bindings.html

binds {
    // apps
    Mod+Return repeat=false hotkey-overlay-title="Open new terminal" { spawn "{{ .terminal }}"; }
    Mod+Space  repeat=false hotkey-overlay-title="Open app launcher" { spawn-sh "{{ .launcherCmd }}"; }
    Mod+E      repeat=false hotkey-overlay-title="Open file manager" { spawn "nemo"; }
    Mod+Q      repeat=false hotkey-overlay-title="Close window"      { close-window; }
    
    Mod+L repeat=false hotkey-overlay-title="Lock screen" { spawn-sh "{{ .lockScreenCmd }}"; }
    
    // wallpaper
    Mod+Ctrl+W repeat=false hotkey-overlay-title="Open wallpaper selector" { spawn-sh "qs -c noctalia-shell ipc call wallpaper toggle"; }
    Mod+W      repeat=false hotkey-overlay-title="New random wallpaper"    { spawn-sh "qs -c noctalia-shell ipc call wallpaper random"; }

    // dynamic cast window
    Mod+Alt+W repeat=false hotkey-overlay-title="Set dynamic cast window"   { set-dynamic-cast-window; }
    Mod+Alt+M repeat=false hotkey-overlay-title="Set dynamic cast monitor"  { set-dynamic-cast-monitor; }
    Mod+Alt+C repeat=false hotkey-overlay-title="Clear dynamic cast target" { clear-dynamic-cast-target; }

    // debug
    Ctrl+Alt+Insert repeat=false hotkey-overlay-title="Copy target window information to clipboard" {
        spawn-sh "niri msg pick-window | wl-copy; notify-send 'Copied window info to clipboard!'";
    }

    // chameleos binds
    Mod+P            repeat=false hotkey-overlay-title="Toggle chameleos"              { spawn "chamel" "toggle"; }
    Mod+Ctrl+P       repeat=false hotkey-overlay-title="Clear chameleos"               { spawn "chamel" "clear-and-deactivate"; }
    Mod+Shift+P      repeat=false hotkey-overlay-title="Random chameleos stroke color" { spawn-sh "chamel stroke-color \"hsl($(shuf -i0-359 -n1) 80% 40%)\""; }
    Mod+Ctrl+Shift+P repeat=false hotkey-overlay-title="Reset chameleos stroke color"  { spawn "chamel" "stroke-color" "#FF0000"; }

    XF86AudioRaiseVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume  allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute         allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute      allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }
    Pause                 allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay         allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop         allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev         allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext         allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    Mod+Tab repeat=false { toggle-overview; }
    Mod+O   repeat=false { toggle-overview; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }

    Mod+Ctrl+Left  { move-column-left-or-to-monitor-left; }
    Mod+Ctrl+Down  { move-window-down-or-to-workspace-down; }
    Mod+Ctrl+Up    { move-window-up-or-to-workspace-up; }
    Mod+Ctrl+Right { move-column-right-or-to-monitor-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Shift+Left  { focus-monitor-left; }
    Mod+Shift+Down  { focus-monitor-down; }
    Mod+Shift+Up    { focus-monitor-up; }
    Mod+Shift+Right { focus-monitor-right; }

    Mod+Shift+Ctrl+Left  { move-column-to-monitor-left; }
    Mod+Shift+Ctrl+Down  { move-column-to-monitor-down; }
    Mod+Shift+Ctrl+Up    { move-column-to-monitor-up; }
    Mod+Shift+Ctrl+Right { move-column-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+Ctrl+Page_Down { move-column-to-workspace-down; }
    Mod+Ctrl+Page_Up   { move-column-to-workspace-up; }

    Mod+Shift+Page_Down { move-workspace-down; }
    Mod+Shift+Page_Up   { move-workspace-up; }

    Mod+WheelScrollDown       cooldown-ms=150 { focus-column-right; }
    Mod+WheelScrollUp         cooldown-ms=150 { focus-column-left; }
    Mod+Shift+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+Shift+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }

    // numbered workspaces
    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Ctrl+1 { move-column-to-workspace 1; }
    Mod+Ctrl+2 { move-column-to-workspace 2; }
    Mod+Ctrl+3 { move-column-to-workspace 3; }
    Mod+Ctrl+4 { move-column-to-workspace 4; }
    Mod+Ctrl+5 { move-column-to-workspace 5; }
    Mod+Ctrl+6 { move-column-to-workspace 6; }
    Mod+Ctrl+7 { move-column-to-workspace 7; }
    Mod+Ctrl+8 { move-column-to-workspace 8; }
    Mod+Ctrl+9 { move-column-to-workspace 9; }

    // consume / expel
    Mod+N      { consume-or-expel-window-left; }
    Mod+M      { consume-or-expel-window-right; }
    Mod+Comma  { consume-window-into-column; }
    Mod+Period { expel-window-from-column; }

    // fullscreen
    Mod+F       { fullscreen-window; }
    Mod+Ctrl+D  { maximize-window-to-edges; }
    Mod+Shift+F { toggle-windowed-fullscreen; }
    
    // resize width
    Mod+R       { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R  { reset-window-height; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Plus  { set-window-height "+10%"; }
    

    // resize width
    Mod+D           { maximize-column; }
    Mod+Shift+D     { expand-column-to-available-width; }
    Mod+Minus   { set-column-width "-10%"; }
    Mod+Plus    { set-column-width "+10%"; }
    
    // center
    Mod+C { center-column; }
    Mod+Ctrl+C { center-visible-columns; }

    // float
    Mod+V       { toggle-window-floating; }
    Mod+Shift+V { switch-focus-between-floating-and-tiling; }

    // tabs
    Mod+T { toggle-column-tabbed-display; }

    Print { screenshot show-pointer=false; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }

    Ctrl+Alt+Delete { quit; }

    Ctrl+Alt+M { power-off-monitors; }
}

recent-windows {
    binds {
        Alt+Tab       { next-window     scope="workspace"; }
        Alt+Shift+Tab { previous-window scope="workspace"; }
    }
}
