layout {
    background-color "transparent"

    focus-ring {
        active-color   "#bec7d5"
        inactive-color "#8f9196"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#bec7d5"
        inactive-color "#8f9196"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#bec7d5"
        inactive-color "#8f9196"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#bec7d580"
    }
}
