# Defaults Configuration

# General
$filemanager = nemo
$applauncher = {{ .launcherCmd }}
$terminal = {{ .terminal }}
$idlehandler = swayidle -w timeout 900 'systemctl suspend'

# Screenshots
$shot-region = grimblast copy area
$shot-window = grimblast copy active
$shot-screen = grimblast copy output
$shot-draw-screen = grimblast save output - | swappy -f -
$shot-draw-area = grimblast save area - | swappy -f -
